:root {
    --bg-color: rgb(244, 244, 244);
    --container-bg: rgb(255, 255, 255);
    --text-color: rgb(0, 0, 0);
    --input-border: rgb(204, 204, 204);
    --button-bg: rgb(0, 123, 255);
    --button-bg-hover: rgb(0, 92, 204);
    --user-bg: rgb(249, 249, 249);
    --update-bg: rgb(2, 117, 216);
    --delete-bg: rgb(217, 83, 79);
}body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background: var(--container-bg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1, h2 {
    text-align: center;
}

#admin-name {
    text-align: center;
    margin-bottom: 20px;
}

.theme-selector {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-box input {
    width: 50%;
    padding: 10px;
    border: 1px solid var(--input-border);
    border-radius: 5px;
}

.search-box button {
    padding: 10px 15px;
    margin-left: 10px;
    border: none;
    background-color: var(--button-bg);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
}

.search-box button:hover {
    background-color: var(--button-bg-hover);
}

#user-list, #matricula-list, #seguimientos-list {
    margin-top: 20px;
}

.user, .matricula, .seguimiento {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid var(--input-border);
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: var(--user-bg);
}

.user button, .matricula button, .seguimiento button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user button.update, .matricula button.accept, .seguimiento button.update {
    background-color: var(--update-bg);
    color: rgb(255, 255, 255);
}

.user button.delete, .matricula button.deny, .seguimiento button.delete {
    background-color: var(--delete-bg);
    color: rgb(255, 255, 255);
}

/* Temas */

.theme-dark {
    --bg-color: rgb(34, 34, 34);
    --container-bg: rgb(51, 51, 51);
    --text-color: rgb(255, 255, 255);
    --input-border: rgb(102, 102, 102);
    --button-bg: rgb(0, 123, 255);
    --button-bg-hover: rgb(0, 92, 204);
    --user-bg: rgb(68, 68, 68);
    --update-bg: rgb(0, 128, 255);
    --delete-bg: rgb(204, 0, 0);
}

.theme-light {
    --bg-color: rgb(255, 255, 255);
    --container-bg: rgb(240, 240, 240);
    --text-color: rgb(0, 0, 0);
    --input-border: rgb(204, 204, 204);
    --button-bg: rgb(0, 123, 255);
    --button-bg-hover: rgb(0, 92, 204);
    --user-bg: rgb(230, 230, 230);
    --update-bg: rgb(40, 167, 69);
    --delete-bg: rgb(220, 53, 69);
}

